.rrp-loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #080808;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


td, th, input {
    font-size:11px !important;
}






/** Agent alerts */


#rrp-alert-init_wrapper .alert-info, .alert-info {
    background-color: #d7090a;
    padding:7px;
    color:white !important;
}


#rrp-alert-init_wrapper .alert-info:hover, .alert-info:hover {
    background-color:black !important; 
    color:#d7090a !important; 
} 

.container-reputation {
/*     border:1px solid red;  */
    padding:20px;
    width:103%;
}

.container-reputation table { 
    border:1px solid #e4e6e4;
}


#rrp-alert-init_filter, #rrp-alert-init_length { 
    margin-bottom:20px;
/*     border:1px solid red; */
}

#rrp-alert-init_filter input, #rrp-alert-init_length select {
    padding:10px;
}

.container-reputation  h3:nth-child(2) {
    display:none; 
}

.row {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 98%;
}
 
/** partner alerts page */  
#page-content  h2:nth-child(1) {
    display:none; 
}
 
 pre {
     display:none !important; 
 }

 
.dataTables_filter {
     padding-right:15px;
     padding-top:15px; 
}
 .dataTables_filter input {
     padding:5px; 
 }

 .dataTables_length {
     padding-left:15px;
     padding-top:20px; 
 }

.dataTables_length  select {
    padding:5px;
}

.nav-tabs {
  margin-left:170px !important;
}

.rrp-button-rating {
  margin-top:5px !important;
  background-color:#d7090a !important; 

}

/** Custom Font Size */
input[type="text"], p, div, span, select, label, input[type="submit"] {
  font-size:14px !important; 
}  
.rrp-relevant-button {
  background: green !important; 
}
 
a { 
  color: #505050 !important; 
}

.nav-tabs .active a {
  color:#d7090b !important;
}

.rrp-post-settings {
     background-color: #d7090b !important;
     color:white !important;
}